

#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  font-size: 12px;
}


#listing {
  position: absolute;
  top: 116px;
  left:26px;
  bottom: 40px;
  width: 335px;
  overflow: auto;
  overflow-x: hidden;
}

#locationField {
  position: absolute;
  height: 25px;
  left: 108px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}

#autocomplete {
  position: absolute;
  top: 30px;
  width: 300px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-left: -80px;
  padding: 7px 15px 7px 18px;
  text-overflow: ellipsis;
  max-width: 350px;
  margin-top: 58px;
  border-radius: 4px;
  border: none;
}
::placeholder {
  color: #000;
}

input[type="text"]:focus {
  border:none;
  outline-color: #cd0000;
}
.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
 position: relative;
 width: inherit;
 cursor: pointer;
 font-weight: bold;
 font-size: medium;
}

#rating {
  font-size: 13px;
  font-family: Arial Unicode MS;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

#mapModalClontainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0,0,0, 0.3);
}
.mapModal {
  border: 2px solid #FF0000;
  max-width: 75%;
  height: 75%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  padding: 20px;
}
#closeBtnModal {
  position: absolute;
  padding: 10px;
  color: #fff;
  top: -39px;
  right: -1px;
  border: 0;
  text-transform: uppercase;
  background: 0;
  cursor: pointer;
  outline: 1px solid #fff;
}
#closeBtnModal:hover {
  color: #000;
  background-color: #d3d3d3;
}