#map {
  height: 100%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

table {
  font-size: 12px;
}


#listing {
  position: absolute;
  top: 116px;
  left: 26px;
  bottom: 40px;
  width: 335px;
  overflow: auto;
  overflow-x: hidden;
}

#locationField {
  position: absolute;
  height: 25px;
  left: 108px;
  top: 0px;
  z-index: 5;
  background-color: #fff;
}

#autocomplete {
  position: absolute;
  top: 30px;
  width: 300px;
  background-color: #fff;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin-left: -80px;
  padding: 7px 15px 7px 18px;
  text-overflow: ellipsis;
  max-width: 350px;
  margin-top: 58px;
  border-radius: 4px;
  border: none;
}

::placeholder {
  color: #000;
}

input[type="text"]:focus {
  border: none;
  outline-color: #cd0000;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  position: relative;
  width: inherit;
  cursor: pointer;
  font-weight: bold;
  font-size: medium;
}

#rating {
  font-size: 13px;
  font-family: Arial, sans-serif;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

#floatingPanel {
  position: absolute;
  top: 85px;
  right: 20%;
  width: 100px;
  z-index: 5;
  background-color: #000;
  padding: 2px 52px 2px 3px;
  border: 1px solid #999;
  text-align: center;
  font-family: Arial, sans-serif;
  line-height: 30px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 41px -12px rgba(0, 0, 0, 0.9);
  background: #bebebe;
}

select {
  padding: 7px 17px 7px 18px;
  cursor: pointer;
  text-transform: uppercase;
}

#locations {
  color: #fff;
  background-color: #000;
}

.header {
  position: absolute;
  z-index: 5;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: -28px;
  margin-left: -10px;
  color: #ff0015;
}

/* -------------==Map modal--------------------*/

#mapModalContainer {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.mapModal {
  border: 2px solid #FF0000;
  max-width: 75%;
  height: 75%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  padding: 20px;
}

#closeBtnModal {
  position: absolute;
  padding: 10px;
  color: #fff;
  top: -39px;
  right: -1px;
  border: 0;
  text-transform: uppercase;
  background: 0;
  cursor: pointer;
  outline: 1px solid #fff;
}

#closeBtnModal:hover {
  color: #000;
  background-color: #d3d3d3;
}

/*----------------Contact modal---------------*/

.containerHome {
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  padding: 15px;
  color: #fff;
  transition: color 1000ms;
  background-color: #000;
  outline: 1px solid #fff;
}

.contactBtn:hover {
  color: #000;
  background-color: #d3d3d3;
}

.modalContainer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
}

.modal {
  position: absolute;
  max-width: 350px;
  max-height: 400px;
  margin: auto;
  top: 0;
  left: 25px;
  right: 25px;
  bottom: 0;
  background: #000;
  border: 2px solid #d3d3d3;
  padding: 20px;
  border-radius: 4px;
}

.modalHeading {
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  display: inline-table;
  height: 60px;
  margin-bottom: 30px;
  color: #ffff00;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  font-size: 20pt;
  border-bottom: 2px solid #fefefe;
}

.inputMod {
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 50px;
  border: 0;
  font-size: 11pt;

  background-color: #d3d3d3;
}

[type="text"] {
  font-weight: 700;
}

textarea {
  width: 100%;
  border-radius: 5px;
  height: 60%;
  box-sizing: border-box;
  padding: 10px 0px 0px 10px;
  font-weight: 700;
  font-family: Arial, sans-serif;
  background-color: #d3d3d3;
}

.submitContact {
  border: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 5px;
  height: 45px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #de1738;
  color: #fff;
  font-size: 15pt;
  margin-top: 10px;
  cursor: pointer;
}

.submitContact:hover {
  background: #b80000;
  color: #d3d3d3;
}

.close {
  position: absolute;
  text-transform: uppercase;
  font-weight: 500;
  font-size: smaller;
  color: #fff;
  border: 2px solid #fff;
  padding: 7px 9px 9px 9px;
  background: #000;
  top: -37px;
  right: -2px;
  border-radius: 2px;
  transition: background 100ms;
}

.close:hover {
  background: #d3d3d3;
  cursor: pointer;
  color: #000;
}

/*--------------Home page----------------*/

body {
  background: url("../image/california.jpg");
  z-index: -1000 !important;
  position: static;
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.4);
}

.bgHome {
  position: absolute;
  z-index: -500;
  height: 100%;
  width: 100%;
}

.h2 {
  background-color: #00447b;
  text-align: center;
  letter-spacing: 3px;
  color: #fff;
  margin-top: 0;
  padding-top: 55px;
  font-family: Arial, sans-serif;
  font-size: 36px;
  margin-bottom: 100px;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.3);
}

p {
  font-size: 26px;
  font-family: "Helvetica Neue", arial, sans-serif;
  margin: 0 auto;
  color: #fff;
  line-height: 25px;
  letter-spacing: 1px;
  font-weight: 300;
  padding: 10px;
  text-indent: 20px;
  word-break: break-all;
  background-color: rgb(0, 0, 0, .2);
}

.inline {
  color: red;
  background-color: #000;
}

.red {
  color: red;
}

.pulse-button {
  position: absolute;
  display: block;
  width: 150px;
  bottom: 55px;
  margin: 0 auto;
  box-sizing: content-box;
  height: 90px;
  font-size: 17px;
  font-weight: bold;
  font-family: 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  border: none;
  background: #00447b;
  cursor: pointer;
  box-shadow: 0 0 0 0px rgba(90, 153, 212, .5);
  animation: pulse 1.2s infinite;
}

.pulse-button:hover {
  animation: none;
  color: #d3d3d3;
}

@keyframes pulse {
  0% {
    transform: scale(.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(.9);
    box-shadow: 0 0 0 0px rgba(90, 153, 212, 0);
  }
}

/* -----------------------Medis queries----*/
@media(max-width: 850px) {
  #autocomplete {
    margin-top: 0;
    margin-bottom: 100px;
  }
  .panel {
    position: relative;
    left: 25px;
  }
  h1 {
    display: block;
    position: fixed;
    margin-top: -295px;
    border-radius: 4px;
    clear: both;
  }
}
@media(max-width: 550px) {
  .h2 {
    margin-bottom: 0;
  }
}
@media(max-width: 500px) {
  #autocomplete {
    max-width: 200px;
  }
  .modalHeading {
    padding: 0;
    margin-bottom: 10px;
    margin-top: 0;
  }
  .contactBtn {
    padding: 10px;
  }
  .modal {
    padding: 25px;
  }
  .pulse-button {
    height: 50px !important;
    font-size: 14px;
  }
}
@media(max-width: 350px) {
  #autocomplete {
    max-width: 150px;
  }
  #locations {
    font-size: 10px;
  }
  #floatingPanel {
    width: 76px;
  }
  .modalHeading {
    font-size: 26px;
  }
  .gm-style .gm-style-iw-c {
    max-width: 200px;
  }
}